@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href=" landing.css" type="text/css" />

<div class="grid-container">
    <img src="https://user-images.githubusercontent.com/62642796/227766262-4059e3bf-f536-418c-8e80-2f0d7359d06d.png" alt="Flowers in Chania">
    <div class="landing-description">
        <h1>Engaging courses on a wide range of subjects </h1>
        <p>Ignite your learning potential with BrainBoost, the ultimate educational platform. Explore diverse courses, crafted by professors, and empower your knowledge through interactive lessons, curated materials, and stimulating quizzes. Join us today and unleash the power of your mind.</p>
    </div>
</div>
