@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confirmed";
}
<div style="height: calc(100vh - 120px); margin-top: 20px">
    <div class="container-fluid">
        <div class="alert alert-success">
            <strong>Success:</strong> Account verification successful. You can now log in.
        </div>
    </div>
</div>



