@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confirmed";
}

<h1>@ViewData["Title"]</h1>
<div class="alert alert-success">
    <strong>Success:</strong> Account verification successful. You can now log in.
</div>
