@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .form-container {
        column-count: 2; /* Adjust the number of columns as needed */
        column-gap: 20px; /* Add spacing between columns if desired */
    }

    .break {
        grid-column: 1 / -1; /* Span across all columns */
        margin-top: 20px; /* Adjust the margin as desired */
    }
</style>

<div class="row">
    <div>
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <label asp-for="Input.Username" class="form-label"></label>
                    <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
