@model List<Student>
@{
    var course = ViewBag.course;

}
<form id="selectedStudents" method="post">
    <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="student-list">
        <h1 class="text-center">Successfully created course @course.CourseName </h1>
        <h2 class="text-center">You can invite following students:</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@(Model[i].FirstName + " " + Model[i].LastName)</td>
                        <td>
                            <input type="checkbox" name="selectedStudents" value="@Model[i].UserId" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
            <div class="text-center">
                <input type="hidden" name="courseId" value="@course.CourseId" />
                <button type="submit" asp-controller="Course" asp-action="SelectedStudents"  class="btn button active2">Save</button>
            </div>
    </div>
</div>
</form>