@{
    ViewData["Title"] = "Refund Confirmation";
}

<h2>@ViewData["Title"]</h2>

<p>Jeste li sigurni da želite refundirati novac?</p>

<a asp-action="RefundForm" class="btn btn-primary">Da</a>

<a asp-action="Index" class="btn btn-secondary">Ne</a>