@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .button.active {
        background-color: #4e73df;
        color: white;
    }

    .button:hover {
        background-color: #858796;
    }
</style>

<div style="margin-top: 20px" class="text-center">
    <h1>Manage your account</h1>
    <div style="margin: auto; width: 350px; height: 55px" class="alert alert-info" role="alert">
        <p>Change your account settings</p>
    </div>
</div>


<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
