@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .button.active {
        background-color: #4e73df;
        color: white;
    }

    .button:hover {
        background-color: #858796;
    }
</style>
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        @if (TempData["UsernamePostoji"] != null)
        {
            <div class="text-danger">
                <ul>
                    <li>@TempData["UsernamePostoji"]</li>
                </ul>
            </div>
        }
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-floating">
                <label asp-for="Input.NewUsername" class="form-label"></label>
                <input asp-for="Input.NewUsername" class="form-control" />
                <span asp-validation-for="Input.NewUsername" class="text-danger"></span>
            </div>
            <br />
            <button id="update-profile-button" type="submit" class="btn button active">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
