@{
    ViewData["Title"] = "Feedback";
}

<h2>@ViewData["Title"]</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .button.active {
        background-color: #4e73df;
        color: white;
    }

    .button:hover {
        background-color: #858796;
    }
</style>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="rate">Rate:</label>
        <input type="number" class="form-control" id="rate" name="Rate" min="1" max="5" required>
    </div>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" id="comment" name="Comment" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn button active">Save</button>
    @Html.AntiForgeryToken()
</form>