@model BrainBoost.Controllers.QuizAnswersViewModel

@{
    ViewData["Title"] = "Quiz Answers";
}


<h1>Quiz Answers</h1>

<p>Number of Correct Answers: @Model.CorrectCount</p>
<p>Number of Incorrect Answers: @Model.IncorrectCount</p>



