@model BrainBoost.Controllers.QuizViewModel
@{
    ViewData["Title"] = "Quiz";
}

<h1>Quiz</h1>

<form action="/Quiz/SubmitQuiz" method="post">

    @foreach (var question in Model.allQuestions)
    {
        <div>
            <h4>@question.QuestionText</h4>
            <input type="text" name="answers[@question.QuestionId]" />
        </div>
    }

    <button type="submit" class="btn btn-primary" style="float:left;">Submit Quiz</button>

</form>
