@model BrainBoost.Models.Professor

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .button.active {
        background-color: #4e73df;
        color: white;
    }

    .button:hover {
        background-color: #858796;
    }
</style>
@{
    ViewData["Title"] = "Profile";
}


<div style="margin-top: 20px" class="text-center">
    <h1>@ViewData["Title"]</h1>
    <div style="margin: auto; width: 200px; height: 55px" class="alert alert-info" role="alert">
        <p>Professor</p>
    </div>
</div>
<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            @if (TempData["Podaci"] != null)
            {
                <div style="height: 50px" class="alert alert-success">
                    <ul>
                        <li>@TempData["Podaci"]</li>
                    </ul>
                </div>
            }
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" readonly />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div style="margin-top: 20px" class="form-group">
                <input type="submit" value="Save" class="w-100 btn button active" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
